.table-div {
  width: 100%;
}

.nameTr {
  width: 40%;
}

.namesh3 {
  border: wheat;
}

.individual-currency-h1 {
  background-color: #343a40;
  color: rgba(245, 229, 10, 0.986);
  border-top: 1px solid #dee2e6;
  margin-bottom: 0;
  padding: 5px;
}
td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  display: table-cell;
}
.table-h4 {
  border: 1px solid #dee2e6;
  padding: 0.5rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table-dark {
  color: #fff;
  background-color: #343a40;
}
.table-dark,
.table-dark > td,
.table-dark > th {
  background-color: #c6c8ca;
}

.table-bordered {
  border: 1px solid #dee2e6;
  background-color: #343a40;
}
