.table-div {
  width: 100%;
}

.individual-currency-h1 {
  background-color: #343a40;
  color: rgba(245, 229, 10, 0.986);
  border-top: 1px solid #dee2e6;
  margin-bottom: 0;
  padding: 5px;
}
td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  display: table-cell;
}
.table-h4 {
  border: 1px solid #dee2e6;
  padding: 0.5rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table-dark {
  color: #fff;
  background-color: #343a40;
}
.table-dark,
.table-dark > td,
.table-dark > th {
  background-color: #c6c8ca;
}

.table-bordered {
  border: 1px solid #dee2e6;
  background-color: #343a40;
}

/*thead {
  display: table-column-group;
}

tbody {
  display: table-column-group;
  float: none;
}
tr {
  display: table-column;
  float: none;
} */

/* table-dark.table-bordered {
  border: 0;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark {
  color: #fff;
  background-color: #343a40;
}
.table-dark,
.table-dark > td,
.table-dark > th {
  background-color: #c6c8ca;
}
.table-bordered {
  border: 1px solid #dee2e6;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
table {
  border-collapse: collapse;
}
*,
::after,
::before {
  box-sizing: border-box;
}
user agent stylesheet table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  border-color: grey;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-column;
  vertical-align: inherit;
  border-color: inherit;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #454d55;
}

.table-dark tbody + tbody,
.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #95999c;
}
.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
th {
  text-align: inherit;
}
*,
::after,
::before {
  box-sizing: border-box;
}*/
/* tr {
  display: table-column;
  vertical-align: inherit;
  border-color: inherit;
}
thead {
  display: table-column-group;
}
tbody {
  display: table-column-group;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
} */
