.App {
  text-align: center;
}
.chart {
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.currency-container {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}
main {
  background-color: teal;
}
.App-link {
  color: #61dafb;
}

.car-div {
  width: 100%;
}

.main-section {
  height: 100%;
  display: flex;
  flex-direction: column;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sd {
  margin: 30px;
  background-color: yellow;
}
.history {
  font-size: 1.65rem;
  color: white;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media only screen and (min-width: 756px) {
  .main-section {
    display: flex;
    flex-direction: row;
  }
  .history {
    font-size: 3rem;
  }
}
