.flex-column {
  overflow-y: scroll;
  width: 20%;
  height: 800px;
  background-color: #aebfcf;
  display: table-cell;
}

.currencyNamesSymb {
  flex-direction: column;
  padding: 20px;

  margin: auto auto 0;
  cursor: pointer;
}

.symbol {
  border: 1px solid black;
  padding: 5px;
}

.nav-h3 {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* .symbol {
  border: 3px solid #000;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: space-between;
  margin: 3px;
  padding-left: 60px;
  background-color: #fff;
} */
